# Jupyter-based interactive computing

 - Load data from feed
 - Clean the data
 - Validate the data
 - Map the data into a new data structure
 - Perform calculations
 - Build a simple report

## Environment preparation

 - All the code exposed in this demonstration can be wrapped into individual importable packages
 - The presentation uses fake data, a medium-sized dataset of 42,000 records x 145 columns
 - We are going to use pandas as in-memory data manipulation framework

In [299]:
import pandas as pd, numpy as np, ipywidgets as widgets, sys
pd.options.display.max_columns = 50
sys.path.append('/opt/app/data')
feed_file = 'LoanStats3a.csv'
feed_file_modified = 'LoanStats3b.csv'

### Import data from the feed

In [300]:
data = pd.read_csv(feed_file, low_memory=False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,NaN,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,NaN,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,NaN,NaN,small_business,real estate business,606xx,IL,8.72,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,NaN,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,NaN,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### Remove empty cells

In [301]:
data = data.dropna(1, how='all')
data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,...,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,Feb-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,...,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,...,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-1996,...,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,...,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Jan-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### Clean data

In [302]:
def StripSpaces(df):
    cols = df.select_dtypes([np.object_]).columns
    for c in cols:
        df[c] = df[c].str.strip()
    return df

data = StripSpaces(data)
data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,Borrower added on 12/22/11 > I need to upgrade...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,...,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,Feb-2018,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,Borrower added on 12/22/11 > I plan to use thi...,car,bike,309xx,GA,1.00,0.0,Apr-1999,...,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,...,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > to pay for proper...,other,personel,917xx,CA,20.00,0.0,Feb-1996,...,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,Borrower added on 12/21/11 > I plan on combini...,other,Personal,972xx,OR,17.94,0.0,Jan-1996,...,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Jan-2017,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### Saving clean data to files

In [311]:
name = "LoanStat3a-Cleaned"
with open(name+'.html', 'w') as f:
    f.write(data.head(100).to_html())

data.head(100).to_csv(name+'.csv')

### Constructing your own set and inspecting it

In [251]:
data_small = data[['issue_d','term','int_rate','funded_amnt']].head(10)
data_small['term'] = data_small['term'].str.strip()
data_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
issue_d        10 non-null object
term           10 non-null object
int_rate       10 non-null object
funded_amnt    10 non-null float64
dtypes: float64(1), object(3)
memory usage: 400.0+ bytes

### Compare two data sets

In [252]:
data_small1 = data_small.copy()
data_small1['funded_amnt'] = data_small1['funded_amnt'] * 1.2
data_small1.loc[data_small1['term'] == '36 months', 'int_rate'] = '10.10%'

In [312]:
data_both=pd.concat([data_small, data_small1], axis='columns', keys=['Original', 'Updated'])
data_swapped=data_both.swaplevel(axis='columns')[data_small.columns[1:]]
def highlight_diff(data, color='yellow'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Original', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

data_swapped.style.apply(highlight_diff, axis=None)

In [123]:
def dTypeToType(t):
    """Takes pandas dtype (dataframe['column_name'].dtype.kind) as input and returns its python type representation"""
    return{
        'b':'boolean',
        'i':'(signed) integer',
        'u':'unsigned integer',
        'f':'floating-point',
        'c':'complex-floating point',
        'O':'(Python) objects',
        'S':'(byte-)string',
        'a':'(byte-)string',
        'U':'Unicode',
        'V':'raw data (void)',
    }[t]  

def dTypesAll():
    return ['float','int','bool','datetime64[ns]','datetime64[ns, tz]','timedelta[ns]','category','object']

In [132]:

def render_mapper():
    import os
    from IPython.lib.pretty import pretty

    # Layouts for formatting
    layout180 = widgets.Layout(width='180px', height='25px')
    layout260 = widgets.Layout(width='260px', height='25px')
    layout999 = widgets.Layout(width='999px', height='200px', display='block', overflow_y='auto')
    layout1 = widgets.Layout(flex='0 0 28px', min_height='28px', )

    debug_view = widgets.Output(layout={'border': '1px solid black'})
    # Dropdown for input file
    files = [x for x in os.listdir() if '.csv' in x]

    files_dd = widgets.Dropdown(
        options=files,
        description='Select Feed File:',
        disabled=False,
    )

    upload_button = widgets.Button(description="Read file...")

    # Let's build the header rows
    header_row = widgets.HBox(children=[widgets.Label("Use in new set?", layout=layout260),
                                        widgets.Label("Rename in new set", layout=layout180),
                                        widgets.Label("Current Type", layout=layout260),
                                        widgets.Label("Convert to Type", layout=layout260)])

    # Let's add a button and a onclick handler for it
    btn = widgets.Button(description="Generate Set")

    # Let's build the msg area for debug purposes lol
    msg = widgets.Textarea(layout=widgets.Layout(width='1020px', height='200px'))

    # Building the actual rows based on small_data set defined in cells above
    @debug_view.capture(clear_output=True)
    def get_columns(data_set):
        rows = []
        for x in data_set.columns:
            rows.append(widgets.HBox(children=[widgets.Checkbox(description=x, layout=layout260),
                                               widgets.Text(value=x, layout=layout180),
                                               widgets.Label(value=dTypeToType(data_set[x].dtype.kind),
                                                             layout=layout260),
                                               widgets.Dropdown(options=dTypesAll(), layout=layout260)
                                               ], layout=layout1))
        ui.children = rows

    @debug_view.capture(clear_output=True)
    def read_file(b):
        global input_set
        global data
        input_set = pd.read_csv(files_dd.value)
        input_set = input_set.dropna(1, how='all')
        msg.value = pretty(input_set.columns)
        get_columns(input_set)
        # msg.value = pretty(ui.children)

    @debug_view.capture(clear_output=True)
    def generate_set(b):
        old_columns = []
        new_columns = []
        for x in ui.children:
            if x.children[0].value:
                old_columns.append(x.children[0].description)
                new_columns.append(x.children[1].value)
        new_set = input_set[old_columns]
        new_set.columns = new_columns
        msg.value = pretty(new_set.columns)

    upload_button.on_click(read_file)
    btn.on_click(generate_set)

    top_row = widgets.VBox(children=[widgets.HBox(children=[files_dd, upload_button])])
    ui = widgets.VBox()
    footer_row = widgets.VBox(
        children=[widgets.HBox(children=[widgets.Text(description='Set Name:'), btn]), msg, debug_view])

    control = widgets.VBox(children=[top_row])
    data = widgets.VBox(children=[header_row, ui, footer_row])

    display(control)
    display(data)

In [169]:
render_mapper(data_small)

VBox(children=(HBox(children=(Label(value='Use in new set?', layout=Layout(width='260px')), Label(value='Renam…

In [298]:
pd.options.display.max_columns

20